.project-dropDown-container {
  display: flex;
  position: absolute;
  top: 54px;
  left: 0px;
  background-color: white;
  min-width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  flex-direction: column;
  overflow: auto;
}

.project-task {
  margin-block: 20px 6px;
  color: var(--ds-text-subtle, #5e6c84);
  font-size: 11px;
  font-weight: var(--ds-font-weight-bold, 700);
  line-height: 1.45455;
  padding-block: var(--ds-space-0, 0px);
  padding-inline: var(--ds-space-200, 16px);
  text-transform: uppercase;
}

.project-block {
  border-block-start: 2px solid
    var(--ds-menu-seperator-color, var(--ds-border, rgba(9, 30, 66, 0.08)));
}

.projects-link {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  margin: var(--ds-space-0, 0px);
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  font-size: var(--ds-font-size-100, 14px);
  outline: 0px;
  text-decoration: none;
  user-select: none;
  padding-block: var(--ds-space-100, 8px);
  padding-inline: var(--ds-space-200, 16px);
  background-color: var(--ds-background-neutral-subtle, transparent);
  color: currentcolor;
  cursor: pointer;
}

.project-dropdown-text {
  display: flex;
  box-sizing: border-box;
  gap: var(--ds-space-150, 12px);
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.create-project {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  margin: var(--ds-space-0, 0px);
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  font-size: var(--ds-font-size-100, 14px);
  outline: 0px;
  text-decoration: none;
  user-select: none;
  padding-block: var(--ds-space-100, 8px);
  padding-inline: var(--ds-space-200, 16px);
  background-color: var(--ds-background-neutral-subtle, transparent);
  color: currentcolor;
  cursor: pointer;
}
